.gradient-background {
  background: linear-gradient(300deg, #74440bdb, #188556a5, #9eff71a8);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  height: 100%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

#pricing {
  color: aliceblue;
  text-align: center;
  background: linear-gradient(90deg, #188556a5, #8bc34a);
  /* font-weight: 700; */
  /* position: relative; */
  /* margin-bottom: 1.5rem; */
  /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}
.one {
  margin: 0 10px;
}
img {
  height: 630px;
  width: 330px;
  border-radius: 35%;
}
.pricing-header {
  font-size: 2.8rem;
  text-align: center;
  /* background: linear-gradient(90deg, #1e201e, #8BC34A); */
  font-weight: 400;
  position: relative;
  margin-bottom: 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pricing-header::after {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background: #aeea00;
  margin: 10px auto 0;
  border-radius: 2px;
}
